@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    /* border: rgb(0, 0, 0) 0.1rem solid; */
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: rgb(21, 21, 21);
    color: white;
}

html
{
    scroll-behavior: smooth;
}

/* Game Browser */

#Game_Browser
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Game Browser Header */

#GB_Header
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#GB_Header:first-child
{
    margin-left: 0;
}

#Logo
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    font-family: "Bebas Neue";
    font-size: 1rem;
    letter-spacing: 3px;
}

#Logo:hover
{
    cursor: pointer;
}

#Searchbar
{
    position: relative;
    align-self: center;
    justify-self: center;
    width: 60%;
}

#Search_Input
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 20px 5px 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15rem;
    font-size: 1.25rem;
    font-family: "kanit";
    background-color: rgb(90, 90, 90, 0.5);
    transition: all 0.3s ease-in-out;
}

#Search_Input:hover, #Search_Input:focus
{
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
}

#Search_Icon
{
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 25px;
    padding: 0 10px;
    fill: rgb(97, 97, 97);
    transition: all 0.2s ease-in-out;
}

#Search_Input:hover + #Search_Icon, #Search_Input:focus + #Search_Icon
{
    fill: rgb(0, 0, 0);
}

/* Game Browser Main */

#GB_Main
{
    display: flex;
    flex: 1;
    flex-direction: row;
}

/* Sidebar */

#Sidebar
{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 1rem;
    padding-left: 50px;
    padding-top: 50px;
}

.Sidebar_Group_Title
{
    cursor: default;
    margin-bottom: 0.5rem;
    font-family: "Kanit";
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 500;
}

#Sidebar .Title_Hover
{
    transition: all 0.2s ease-in-out;
}

#Sidebar .Title_Hover h2
{
    transition: all 0.2s ease-in-out;
}

#Sidebar .Title_Hover:hover
{
    cursor: pointer;
    color: rgb(114, 114, 114);
}

#Sidebar .Title_Hover h2:hover
{
    cursor: pointer;
    color: rgb(114, 114, 114);
}

.Sidebar_Group ul li
{
    list-style: none;
    font-family: "Kanit";
    margin-bottom: 0.5rem;
}

.Sidebar_Group ul li h3
{
    font-weight: 350;
    font-size: 1.25rem;
}

.Sidebar_Group_Item
{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.Sidebar_Group_Item svg
{
    width: 30px;
    height: 30px;
    background: rgb(45, 45, 45);
    fill: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.Sidebar_Group_Item:hover
{
    cursor: pointer;
}

.Sidebar_Group_Item:hover svg
{
    background: rgb(255, 255, 255);
    fill: rgb(24, 24, 24);
}



/* Game Browser Content */

#GB_Content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: Top;
    align-items: left;
    padding-top: 0;
    margin-top: 0;
    padding: 1rem 3rem 1rem 3rem;
}

#GB_Content_Title
{
    cursor: default;
    font-family: "Kanit";
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 80%;
}

#GB_Content_Filters
{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

select
{
    border: none;
    border-radius: 2rem;
    background: rgb(45, 45, 45);
    padding: 0.25rem;
    transition: all 0.1s ease-in-out;
    color: white;
    outline: none;
    font-family: "kanit";
    font-weight: 300;
}

select:hover
{
    cursor: pointer;
}

select option
{
    font-family: "kanit";
    font-weight: 300;
    background: white;
    color: black;
}

.Order_Filter label, .Platform_Filter label
{
    font-family: "kanit";
}

.Order_Filter, .Platform_Filter
{
    border: none;
    border-radius: 1rem;
    background: rgb(45, 45, 45);
    padding: 0.5rem;
}

/* Game Browser Games */

#GB_Content_Display_List
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#GB_Content_Display_List li
{
    list-style: none;
}

.Game_Item
{
    border-radius: 2rem;
    width: 385px;
    margin-bottom: 1.5rem;
    background: rgb(35, 35, 35);
    transition: all 0.2s ease-in-out;
}

.Game_Item:hover
{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.Game_Info
{
    padding: 0rem 1rem 1rem 1rem;
}

.Game_Image
{
    width: 385px;
    height: 220px;
    border-radius: 2rem 2rem 0 0;
}

.Game_Info_Top
{
    display: flex;
    justify-content: space-between;
}

.Game_Metacritic
{
    border: white 0.1rem solid;
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.3rem;
}

.Game_Platforms
{
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.Game_Title
{
    font-family: "Kanit";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 80%;
}

.Game_Minor_Info
{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 0.7rem;
}

/* Game Item Page */

#Game_Item_Page
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.Background_Art
{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 99vw;
    background-color: transparent;
    z-index: -1;
    background-size: cover;
}

#Game_Item_Page_Container
{
    display: flex;
    flex-direction: column;
    justify-content: Top;
    align-items: left;
    padding: 1rem 3rem 1rem 3rem;
    width: 40%;
    margin-bottom: 5rem;
}

.Game_Item_Title
{
    cursor: default;
    font-family: "Kanit";
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 80%;
}

.About p:nth-child(3)
{
    display: none;
    color: black;
}

.Rankings
{
    display: flex;
    gap: 2rem;
    padding: 1rem 1rem 1rem 0rem;
}

.Ranking_Item
{
    border: white 0.1rem solid;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.Description
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    width: 100%;
}

.About_Title
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.Game_Item_Meta
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}

.Game_Item_Meta_Block
{
    margin-bottom: 1.5rem;
    width: 50%;
}

.Game_Item_Meta_Block_Wide
{
    margin-bottom: 1.5rem;
    width: 100%;
}

.Game_Item_Meta_Title
{
    color: rgb(69, 69, 69);
    margin-bottom: 0.3rem;
}

.Game_Item_Meta_Text
{
    text-decoration: underline;
}

.Game_Item_System_Requierments
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.System_Requierments_Title
{
    font-size: 1.5rem;
}

.Requierment_Title
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.Requierment_List
{
    padding-left: 3rem;
}

.Requierment_Item
{
    font-size: 1rem;
}


