@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    /* border: rgb(0, 0, 0) 0.1rem solid; */
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

/* Game Browser */

#Game_Browser
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Game Browser Header */

#GB_Header
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#GB_Header:first-child
{
    margin-left: 0;
}

#Logo
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#Searchbar
{
    position: relative;
    align-self: center;
    justify-self: center;
    width: 50%;
}

#Search_Input
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 20px 12px 60px;
    width: 100%;
    background: none;
    border: rgb(0, 0, 0) 0.1rem solid;
    border-radius: 15rem;
    /* font: inherit; */
    font-size: 1.5rem;
}

#Search_Icon
{
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    width: 30px;
    padding: 0 12px;
}

/* Game Browser Main */

#GB_Main
{
    display: flex;
    flex: 1;
    flex-direction: row;
}

/* Sidebar */

#Sidebar
{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 2rem;
    padding-left: 50px;
    padding-top: 50px;
}

.Sidebar_Group_Title
{
    margin-bottom: 0.5rem;
    font-family: "Kanit";
    letter-spacing: 2px;
    font-size: 2rem;
}

.Sidebar_Group ul li
{
    list-style: none;
    font-family: "Kanit";
}

.Sidebar_Group ul li h3
{
    font-weight: 350;
}

/* Game Browser Content */

#GB_Content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: Top;
    align-items: left;
    padding-top: 0;
    margin-top: 0;
    padding: 1rem 4rem 1rem 1rem;
}

#GB_Content_Title
{
    font-family: "Kanit";
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 80%;
}

#GB_Content_Filters
{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

/* Game BrowserGames */

#GB_Content_Display_List
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#GB_Content_Display_List li
{
    list-style: none;
}

.Game_Item
{
    border: black 0.1rem solid;
    border-radius: 2rem;
    width: 350px;
    margin-bottom: 3rem;
}

.Game_Info
{
    padding: 0rem 1rem 1rem 1rem;
}

.Game_Image
{
    width: 350px;
    border-radius: 2rem 2rem 0 0;
}

.Game_Platforms
{
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.Game_Title
{
    font-family: "Kanit";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 80%;
}

.Game_Minor_Info
{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 0.7rem;
}